*{
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.container{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

body{
min-width: 960px;
}

.logo{
  float: left;
  padding-top:20px;
  width:200px;
  text-decoration: none;
}
.logo-img{
 vertical-align: middle;
}

.logo-text{
  display: inline-block;
  vertical-align: middle;
}

.main-nav ul{
  font-size: 0px;
    text-align: right;
}

.main-nav li{
  display: inline-block;
  padding:20px;
  vertical-align: top;
  font-size: 16px;
  background-color: green;
}







.logo{
  float: left;
  padding-top:20px;
  width:200px;
  text-decoration: none;
}
.logo-img-footer{
 vertical-align: middle;
}

.logo-text-footer{
  display: inline-block;
  vertical-align: middle;
}

.main-nav ul{
  font-size: 0px;
    text-align: right;
}

